@charset "utf8";

/*aqui posso por um comentario*/

/*
vamos escever um bloco de comentario
*/
/*vamos criar um rest de pagina , onde o css deve limpar as configuracoes*/
*{
    margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
}


body{
    background-color: rgb(9, 48, 3);
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding:auto;
}